---
layout:   home
title:    Hydramata::Works
---

<h2>
  <a name="getting-started" class="anchor" href="#getting-started"><span class="octicon octicon-link"></span></a>Getting Started
</h2>

<p>Presently Hydramata::Works is a work in progress, and very much not ready for production usage.</p>

<p>But I would encourage you to:
  <ol>
    <li>Clone the repository: <code>git clone {{ site.repo_url }}.git hydramata-works</code></li>
    <li>Change to the repository's directory: <code>cd hydramata-works</code></li>
    <li>Install the base dependencies: <code>bundle install</code></li>
    <li>Run the default rake task: <code>rake</code></li>
  </ol>
</p>

<p>The rake task will build the internal rails application and run all of the tests.</p>

<p>Once you have the <code>spec/internal</code> directory built, you can run <code>rspec</code> or <code>rake spec:all</code>.</p>

<div class="articles">
  <div class="span8 offset2">
    <h2>Demos</h2>
    <ul class="listing">
      {% for post in site.categories.demos %}
      <li itemscope itemtype="http://schema.org/BlogPosting">
        <h3 class="title">
          <a itemprop="url" href="{{ site.baseurl }}{{ post.url }}"><span itemprop="name">{{ post.title }}</span></a>
        </h3>
        <p class="muted">
        {% if post.author %}{% for author in site.authors %}{% if author.id == post.author %}{% if author.url %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a itemprop="url" href="{{ author.url }}"><span itemprop="name">{{ author.name }}</span></a>
        </span> &mdash;
        {% else %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ author.name }}</span>
        </span> &mdash;
        {% endif %}{% endif %}{% endfor %}{% endif %}{% if post.revised %}
        <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ post.date | date:"%B %e, %Y" }}</time>, revised on <time datetime="{{ post.revised | date:"%Y-%m-%d %H:%M" }}" itemprop="dateRevised">{{ post.revised | date:"%B %e, %Y" }}</time>
        {% else %}
        <time datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ post.date | date:"%B %e, %Y" }}</time>
        {% endif %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
