<div class="<%= edit.dom_class %>">
  <%= label_tag("work_#{edit.predicate}", edit.label, id: "label_for_work_#{edit.predicate}") %>
  <div class="values">
    <%= file_field_tag(
      "work_#{edit.predicate}_0",
       :name => "work[#{edit.predicate}][]",
       :class => 'blank-input',
       :multiple => true,
       'aria-labelledby' => "label_for_work_#{edit.predicate}")
    %>
  </div>
</div>
