<div class="<%= new.dom_class %>">
  <%= label_tag("work_#{new.predicate}", new.label, new.dom_label_attributes) %>
  <div class="values">
    <%= file_field_tag(
      "work_#{new.predicate}_0",
       :name => "work[#{new.predicate}][add][]",
       :class => 'blank-input',
       :multiple => true,
       'aria-labelledby' => "label_for_work_#{new.predicate}")
    %>
  </div>
  <% new.with_text_for(:help) do |help| %>
    <p class="help-block"><%= help %></p>
  <% end %>
</div>
