---
layout:    boilerplate
presenter: demo
---

<section role="main" class="page" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    {% if page.tagline %}
    <hgroup itemprop="headline">
    <h1 class="headline instapaper_ignore">{{ page.title }}</h1> <span class="hidden">&mdash;</span>
    <h2 class="tagline">{{ page.tagline }}</h2>
    </hgroup>
    {% else %}
    <h1 itemprop="headline" class="headline instapaper_ignore">{{ page.title }}</h1>
    {% endif %}
    <p class="muted">
    {% if page.author %}{% for author in site.authors %}{% if author.id == page.author %}{% if author.url %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a itemprop="url" href="{{ author.url }}"><span itemprop="name">{{ author.name }}</span></a>
    </span> &mdash;
    {% else %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ author.name }}</span>
    </span> &mdash;
    {% endif %}{% endif %}{% endfor %}{% endif %}{% if page.revised %}
    <time datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ page.date | date:"%B %e, %Y" }}</time>, revised on <time datetime="{{ page.revised | date:"%Y-%m-%d %H:%M" }}" itemprop="dateRevised">{{ page.revised | date:"%B %e, %Y" }}</time>
    {% else %}
    <time datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}" itemprop="dateCreated">{{ page.date | date:"%B %e, %Y" }}</time>
    {% endif %}

    <span class="pull-right">
      <a itemprop="url" href="http://{{ site.host }}{{page.url}}">Permalink</a>
    </span>
    </p>
  </header>

  <article itemprop="articleBody" class="instapaper_body">
    <p class='disclaimer'>
      As with all demos, repeating these steps later on may or may not work.
      Syntax changes. Things move around.
      Please refer to the specs for the most accurate reflection of what is going on at this point in time.
    </em></p>
    {{ content }}
    {% if page.reblog %}
    <hr/>

    <blockquote class="reblog-notice">
      <p>This post was origionally published on another site: <a href="{{ page.reblog }}">{{ page.reblog }}</a></p>
    </blockquote>
    {% endif %}
  </article>

  <footer class="footer well">
    <section>
  {% if page.author %}{% for author in site.authors %}{% if author.id == page.author %}{% if author.twitter %}
      <p>
        Please direct any comments or questions to <a href="https://www.twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>.
      </p>
  {% endif %}{% if author.google_plus_id %}
      <p class="google-authorship">
        Find out more about the author on <a href="https://plus.google.com/{{ author.google_plus_id }}?rel=author">Google+</a>.
      </p>
  {% endif %}{% endif %}{% endfor %}{% endif %}
    </section>
  </footer>

</section>
